{% extends '_layouts/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <h1>Add Todo</h1>
            {% if form %}
                <form action="{% url 'add' %}" method="POST">{% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success">Submit</button>
                </form>
            {% endif %}
            <br>
            <a href="/">Go Back</a>
        </div>
    </div>
{% endblock %}
