{% extends '_layouts/base.html' %}

{% block title %}Task List{% endblock %}

{% block headline %}<h2>Task List</h2>{% endblock headline %}

{% block content %}
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <ul>
                {% for object in latest %}
                    <li class="list-group-item">
                        <a href="{{ object.get_absolute_url }}{% query_builder request %}">{{ object }}</a>
                    </li>
                    {% empty %}
                    <li class="list-group-item">You have no tasks</li>
                {% endfor %}
            </ul>
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{% url 'todos:list' %}{% query_builder request page=page_obj.previous_page_number %}">&lt;</a>
                        {% endif %}
                        {% for pn in paginator.page_range %}
                            {% if not forloop.first %}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                            {% endif %}
                            {% if page_obj.number != pn %}
                                <a href="{% url 'todos:list' %}{% query_builder request page=pn %}">
                            {% endif %}
                            {{ pn }}
                            {% if page_obj.number != pn %}
                                </a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="{% url 'todos:list' %}{% query_builder request page=page_obj.next_page_number %}">&gt;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

