{% extends '_layouts/base.html' %}

{% block title %}Task: {{ object.title }}{% endblock %}

{% block headline %}<h2>Task: {{ object.title }}</h2>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p>{{ object.text.rendered|safe }}</p>
            <br>
            {% with names=object.tags.names %}
                {% if names.count > 0 %}
                    <p>Tags: {% for name in names %}{% if not forloop.first %}, {% endif %}
                        <a href="{% url 'todos:list' %}{% query_builder request tags=name page=None %}">{{ name }}</a>
                    {% endfor %}</p>
                    <br>
                {% endif %}
            {% endwith %}
            Created on {{ object.created_at }}
            <br>
            <a href="{% url 'todos:list' %}{% query_builder request %}"><< Back to the task list</a>
        </div>
    </div>
{% endblock %}

