{% extends '_layouts/base.html' %}
{% load django_markdown %}

{% block title %}Task: {{ object.title }}{% endblock %}

{% block content %}
    <article class="row col-sm-6 col-sm-offset-3">
        <header>
            <h2>Task: {{ object.title }}</h2>
        </header>
        <p>{{ object.text | markdown }}</p>
        <br>
        <footer>
            {% with names=object.tags.names %}
                {% if names.count > 0 %}
                    <p>Tags: {% for name in names %}{% if not forloop.first %}, {% endif %}
                        <a href="{% url 'todos:list' %}{% query_builder request tags=name page=None %}">{{ name }}</a>
                    {% endfor %}</p>
                    <br>
                {% endif %}
            {% endwith %}
            Created on <time pubdate>{{ object.created_at }}</time>
            <br>
            <a href="{% url 'todos:list' %}{% query_builder request %}"><< Back to the task list</a>
        </footer>
    </article>
{% endblock %}

