{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} :: TodoList</title>

    {#    jQuery neded before Selectize #}
    {%  render_bundle "main" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>{% include '_layouts/navbar.html' %}</header>

    <div class="container theme-showcase" role="main">
        {% block headline %}{% endblock %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
